<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejercicio 9</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
          <style>
            @media(min-width:992px){
                #tittle{background-color:lawngreen;}
                #con1,#con2,#con3{background-color: crimson;}#foot1{text-align: end;} #foot2{text-align: start;}
            }
            @media(max-width:992px){
                #tittle{background-color:aquamarine;}#con1,#con2{background-color: crimson;}#con1{text-align: start;}#con2{text-align: end;}#con3{background-color: lawngreen;}#foot1,#foot2{text-align: center;}
            }
            @media(max-width: 768px){
                #tittle{text-align: center;background-color: burlywood;}
                #con1,#con3{background-color: crimson;}#con2{background-color: aquamarine; text-align: center;}#con3{text-align: end;}#foot1,#foot2{text-align: center;}
            };
        </style>  
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img src="../img/catplay.png" height="40"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Ejercicios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="Ejercicio1.html">Ejercicio 1</a></li>
                              <li><a class="dropdown-item" href="Ejercicio2.html">Ejercicio 2</a></li>
                              <li><a class="dropdown-item" href="Ejercicio3.html">Ejercicio 3</a></li>
                              <li><a class="dropdown-item" href="Ejercicio4.html">Ejercicio 4</a></li>
                              <li><a class="dropdown-item" href="Ejercicio5.html">Ejercicio 5</a></li>
                              <li><a class="dropdown-item" href="Ejercicio6.html">Ejercicio 6</a></li>
                              <li><a class="dropdown-item" href="Ejercicio7.html">Ejercicio 7</a></li>
                              <li><a class="dropdown-item" href="Ejercicio8.html">Ejercicio 8</a></li>
                              <li><a class="dropdown-item" href="Ejercicio10.html">Ejercicio 10</a></li>
                            </ul>
                          </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Ejercicio11.html">Showcase</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Defina la siguiente estructura:
1. Una fila en la parte superior con una única columna con fondo verde que ocupará todo el ancho, en dicha columna aparecerá el texto 'Header' alineado a la izquierda y en grande.
2. Una segunda fila con tres columnas en color rojo con el mismo ancho y con los números 1, 2 y 3 (respectivamente) centrados y en letras grandes.
3. La tercera y última fila contendrá dos columnas de igual ancho y en color amarillo, la primera columna tendrá el texto 'footer 1' alineado a la derecha y la segunda el texto 'footer 2' alineado a la izquierda (ambos usando un tamaño de fuente grande).">Consigna</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container mt-3">
    <div class="row ">
        <div class="col border border-3 border-white p-3" id="tittle"><h1>Header</h1></div>              
    </div>
    <div class="row text-center">
        <div class="col-xl-4 col-lg-4 col-md-6 border border-3 border-white"  id="con1" style="height: 350px;"><h1>1</h1></div>
        <div class="col-xl-4 col-lg-4 col-md-6 border border-3 border-white"  id="con2" style="height: 350px;"><h1>2</h1></div>
        <div class="col-xl-4 col-lg-4 col-md-12 border border-3 border-white" id="con3"  style="height: 350px;"><h1>3</h1></div>
    </div>
    <div class="row" >
        <div class="col-12 col-lg-6 border border-3 border-white bg-warning p-3" id="foot1" ><h4>Footer </h4></div>
        <div class="col-12 col-lg-6 border border-3 border-white bg-warning p-3" id="foot2" ><h4>Footer </h4></div>
    </div>
</div> 
<footer class="mt-auto">
    <div class="container-fluid bg-dark">
        <div class="row text-center">
            <p class="text-white">copyright</p>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>
</html>
