<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejercicio 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img src="../img/catplay.png" height="40"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Ejercicios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="Ejercicio1.html">Ejercicio 1</a></li>
                              <li><a class="dropdown-item" href="Ejercicio2.html">Ejercicio 2</a></li>
                              <li><a class="dropdown-item" href="Ejercicio4.html">Ejercicio 4</a></li>
                              <li><a class="dropdown-item" href="Ejercicio5.html">Ejercicio 5</a></li>
                              <li><a class="dropdown-item" href="Ejercicio6.html">Ejercicio 6</a></li>
                              <li><a class="dropdown-item" href="Ejercicio7.html">Ejercicio 7</a></li>
                              <li><a class="dropdown-item" href="Ejercicio8.html">Ejercicio 8</a></li>
                              <li><a class="dropdown-item" href="Ejercicio9.html">Ejercicio 9</a></li>
                              <li><a class="dropdown-item" href="Ejercicio10.html">Ejercicio 10</a></li>
                            </ul>
                          </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              jQuery-AJAX
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="Ejer1jQ.html">Ejercicio 1</a></li>
                              <li><a class="dropdown-item" href="Ejer2jQ.html">Ejercicio 2</a></li>
                              <li><a class="dropdown-item" href="Ejer3jQ.html">Ejercicio 3</a></li>
                              <li><a class="dropdown-item" href="Ejer4jQ.html">Ejercicio 4</a></li>
                              <li><a class="dropdown-item" href="EjerjQ5.html">Ejercicio 5</a></li>
                              <li><a class="dropdown-item" href="Ejer6jQ.html">Ejercicio 6</a></li>
                            </ul>
                          </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Ejercicio11.html">Showcase</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Implemente .... ">Consigna</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- TODO agregar imagenes y estilizar un poquito -->

<div class="container-fluid mt-2">
    PROXIMAMENTE...
</div>
<footer class="mt-auto">
    <div class="container-fluid bg-dark">
        <div class="row text-center">
            <p class="text-white">Copyright</p>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>
</html>