<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejercicio 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img src="../img/catplay.png" height="40"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Ejercicios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="Ejercicio1.html">Ejercicio 1</a></li>
                              <li><a class="dropdown-item" href="Ejercicio2.html">Ejercicio 2</a></li>
                              <li><a class="dropdown-item" href="Ejercicio3.html">Ejercicio 3</a></li>
                              <li><a class="dropdown-item" href="Ejercicio5.html">Ejercicio 5</a></li>
                              <li><a class="dropdown-item" href="Ejercicio6.html">Ejercicio 6</a></li>
                              <li><a class="dropdown-item" href="Ejercicio7.html">Ejercicio 7</a></li>
                              <li><a class="dropdown-item" href="Ejercicio8.html">Ejercicio 8</a></li>
                              <li><a class="dropdown-item" href="Ejercicio9.html">Ejercicio 9</a></li>
                              <li><a class="dropdown-item" href="Ejercicio10.html">Ejercicio 10</a></li>
                            </ul>
                          </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Ejercicio11.html">Showcase</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="● Implemente un contenedor que tenga 3 columnas con la misma cantidad de filas para cualquier tipo de dispositivo usando 2 alternativas sin colapsar. (Ayuda: no usar *)
● Implemente un contenedor que tenga todas las columnas con la misma cantidad de filas para cualquier tipo de dispositivo, con una fila sin colapsar y otra que colapse para un tamaño fijo, por ejemplo para “lg”.
● Implemente un contenedor que tenga una columna con un ancho en unidades fijo y la columna de la izquierda o derecha o ambas sin valor.">Consigna</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- TODO agregar imagenes y estilizar un poquito -->
<h4 class="text-center">2 opciones sin colapsar</h4>
<div class="container mt-2">
    <div class="row">
        <div class="col pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 1</h1>
        </div>
        <div class="col pt-2 pb-2" style="background-color:#bbb">
            <h1>Columna 2</h1>
        </div>
        <div class="col pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 3</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4 pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 1</h1>
        </div>
        <div class="col-4 pt-2 pb-2" style="background-color:#bbb">
            <h1>Columna 2</h1>
        </div>
        <div class="col-4 pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 3</h1>
        </div>
    </div>
    <hr>
</div>
<h4 class="text-center">Sin colapsar y colapsar</h4>
<div class="container mt-2">
    <div class="row">
        <div class="col pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 1</h1>
        </div>
        <div class="col pt-2 pb-2" style="background-color:#bbb">
            <h1>Columna 2</h1>
        </div>
        <div class="col pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 3</h1>
        </div>
    </div> <br>
    <div class="row">
        <div class="col-lg pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 1</h1>
        </div>
        <div class="col-lg pt-2 pb-2" style="background-color:#bbb">
            <h1>Columna 2</h1>
        </div>
        <div class="col-lg pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 3</h1>
        </div>
    </div>
    <hr>
</div>
<h4 class="text-center">Con valor y sin valor</h4>
<div class="container mt-2">
    <div class="row">
        <div class="col pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 1</h1>
        </div>
        <div class="col-6 pt-2 pb-2" style="background-color:#bbb">
            <h1>Columna 2</h1>
        </div>
        <div class="col pt-2 pb-2" style="background-color:#aaa">
            <h1>Columna 3</h1>
        </div>
    </div>
</div>
<footer class="mt-auto">
    <div class="container-fluid bg-dark">
        <div class="row text-center">
            <p class="text-white">Copyright</p>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>
</html>
