<!DOCTYPE html>
<html>
<header>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css">
        .nav-link {
            color: black;
        }

        .nav-link.active > .img-thumbnail {
            background-color: orange;
            border-radius: 10px;
        }

        .nav-link > .img-thumbnail:hover {
            transform: scale(1.1);
            transition: transform .3s;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: orange;
            font-weight: bold;
        }

        footer {
            background-color: #e99702 !important;
        }
    </style>
</header>

<body class="d-flex flex-column min-vh-100" style="background-color: rgba(190,187,187,0.25)">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html"><img src="../img/catplay.png" height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Ejercicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="Ejercicio1.html">Ejercicio 1</a></li>
                            <li><a class="dropdown-item" href="Ejercicio2.html">Ejercicio 2</a></li>
                            <li><a class="dropdown-item" href="Ejercicio3.html">Ejercicio 3</a></li>
                            <li><a class="dropdown-item" href="Ejercicio4.html">Ejercicio 4</a></li>
                            <li><a class="dropdown-item" href="Ejercicio5.html">Ejercicio 5</a></li>
                            <li><a class="dropdown-item" href="Ejercicio6.html">Ejercicio 6</a></li>
                            <li><a class="dropdown-item" href="Ejercicio7.html">Ejercicio 7</a></li>
                            <li><a class="dropdown-item" href="Ejercicio8.html">Ejercicio 8</a></li>
                            <li><a class="dropdown-item" href="Ejercicio9.html">Ejercicio 9</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Showcase</a>
                </li>
                <li>
                    <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="">Consigna</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <!-- CABECERA -->
    <div class="row">
        <div class="col-* text-center p-3 bg-opacity-100"><h2 class="p-2">Para qué crearlo y si lo encontrás en</h2><img
                src="../img/catplaydark.png" class="w-25">
        </div>
    </div>
    <!-- COL-LG-12 -->
    <div class="row mb-4 border shadow mt-4" style="background-color: white">
        <div class="col-lg-12"><h2>Lo mejor en moda gatuna...</h2></div>
        <div class="col-12 w-100" style="background-image:url(../img/fondo3.jpg); height: 70px;"></div>
        <div class="col text-end"><h3>...para todo el año</h3></div>
    </div>
    <!-- COL DE THUMBNAIL -->
    <div class="row mb-2 mt-2">
        <ul class="nav thumb">
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#elemento-1"><img class="img-thumbnail"
                                                                                                  src="../img/11a.jpg"
                                                                                                  alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-2"><img class="img-thumbnail"
                                                                                           src="../img/11b.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-3"><img class="img-thumbnail"
                                                                                           src="../img/11c.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-4"><img class="img-thumbnail"
                                                                                           src="../img/11d.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-5"><img class="img-thumbnail"
                                                                                           src="../img/11e.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-6"><img class="img-thumbnail"
                                                                                           src="../img/11f.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-7"><img class="img-thumbnail"
                                                                                           src="../img/11g.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-8"><img class="img-thumbnail"
                                                                                           src="../img/11h.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-9"><img class="img-thumbnail"
                                                                                           src="../img/11i.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-10"><img class="img-thumbnail"
                                                                                            src="../img/11j.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-11"><img class="img-thumbnail"
                                                                                            src="../img/11k.jpg" alt=""></a>
            </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-4 nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#elemento-12"><img class="img-thumbnail"
                                                                                            src="../img/11l.jpg" alt=""></a>
            </li>
        </ul>
    </div>
    <!-- CONTENIDO WRAP -->
    <div class="tab-content">
        <!-- Gatito 1 -->
        <!-- Lista elementos -->
        <div class="tab-pane show active" id="elemento-1">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1" class="nav-link active" type="button" role="tab">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6" class="nav-link">Capitán Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11a.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Lanilla y Algodón</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">Autumn Miau</p>
                    Hermoso conjunto de boina y saco/capa de otoño para michis con estilo.
                    De telas calidas y suave, en colores terra. <br>
                    Tu gato disfrutara de esta estación abrigadito y luciendo genial!.
                </div>
            </div>
        </div>

        <!-- Gatito 2 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-2">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-2" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-2" class="nav-link active" type="button" role="tab">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-2" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-2" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-2" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-2" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-2" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-2" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-2" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-2" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-2" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-2" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11b.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Algodon y polar</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>L - M -S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$1300</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">Super Miau</p>
                    ¿Es un ave? ¿Es un avión? <br>
                    No! Es Super Miua que viene a alegrar nuestros dias con su ternura! <br>
                    Tu michi estara listo para luchar por la justicia en cualquier lugar con este gran disfraz.
                </div>
            </div>
        </div>
        <!-- Gatito 3 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-3">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-3" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-3" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-3" class="nav-link active" type="button" role="tab">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-3" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-3" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-3" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-3" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-3" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-3" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-3" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-3" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-3" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11c.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>micropolar y Algodón</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$1950</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">CalabaMichi</p>
                    Tu michi sera el alma de la fiesta con este divertido disfraz! <br>
                    Al mismo tiempo se mantendra abrigado y comodo por su suave tela. <br>
                    Con garantia de conseguir los mejores dulces de la noche!
                </div>
            </div>
        </div>
        <!-- Gatito 4 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-4">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-4" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-4" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-4" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-4" class="nav-link active" type="button" role="tab">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-4" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-4" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-4" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-4" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-4" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-4" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-4" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-4" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11d.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Acero y Acrilico rosa</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$1500</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">PrrNfluencer</p>
                    Divino juego de anteojos y collar, para los consentidos de la casa. <br>
                    Los accesorios perfectos para ganar millones de seguidores! <br>
                    Imposible resistirse!
                </div>
            </div>
        </div>
        <!-- Gatito 5 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-5">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-5" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-5" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-5" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-5" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-5" class="nav-link active" type="button" role="tab">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-5" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-5" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-5" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-5" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-5" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-5" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-5" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11e.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Algodón</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>L - M</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$3200</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">NekoDeku</p>
                    Peculiarmente adorable!<br>
                    Con este genial cosplay completo con enterito, accesorios y peluca, tu michi sera el número 1! <br>
                    Prrrr Ultra!
                </div>
            </div>
        </div>
        <!-- Gatito 6 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-6">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-6" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-6" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-6" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-6" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-6" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-6" class="nav-link active" type="button" role="tab">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-6" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-6" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-6" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-6" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-6" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-6" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11f.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Fieltro y plumas sintéticas</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$2000</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">Capitan Milaneso</p>
                    Capitan Milaneso a bordo!<br>
                    Lleva a tu michi a recorrer los 7 mares usando el sombrero prrrfecto! <br>
                    Tierra a la vista!
                </div>
            </div>
        </div>
        <!-- Gatito 7 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-7">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-7" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-7" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-7" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-7" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-7" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-7" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-7" class="nav-link active" type="button" role="tab">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-7" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-7" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-7" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-7" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-7" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11g.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Lana</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$870</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">BotiCat</p>
                    Hermosas botitas para esos dias de frio o para tranquilos paseos en la plaza. <br>
                    Mantiene sus pies abrigados y seguros en todo momento. <br>
                    Contamos con distintos motivos y colores para cada ocasión.
                </div>
            </div>
        </div>
        <!-- Gatito 8 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-8">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-8" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-8" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-8" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-8" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-8" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-8" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-8" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-8" class="nav-link active" type="button" role="tab">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-8" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-8" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-8" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-8" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11h.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Algodón</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>L - M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$1970</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">ACatSuki</p>
                    Abrigadita capa de buzo perfecta para los dias frios. <br>
                    Para que tu michi se sienta todo un gran y poderoso ninja renegado.
                </div>
            </div>
        </div>
        <!-- Gatito 9 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-9">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-9" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-9" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-9" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-9" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-9" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-9" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-9" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-9" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-9" class="nav-link active" type="button" role="tab">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-9" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-9" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-9" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11i.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Algodón y Tull</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>M</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$3100</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">La flotación</p>
                    Aterrador y adorable la perfecta convinación para este malefico michi. <br>
                    Conjuntito completo, con accesorios y globo incluido! <br>
                    ¿Estará Bill a salvo de tanta ternura cuando este michi haga la flotación? <br>

                </div>
            </div>
        </div>
        <!-- Gatito 10 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-10">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-10" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-10" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-10" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-10" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-10" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-10" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-10" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-10" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-10" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-10" class="nav-link active" type="button" role="tab">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-10" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-10" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11j.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Algodón</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>L - M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$1000</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">Hamburgueso</p>
                    La remera perfecta para toda ocación. <br>
                    Muchos colores y estampados para el día a día de tu Hamburgueso preferido!
                </div>
            </div>
        </div>
        <!-- Gatito 11 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-11">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-11" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-11" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-11" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-11" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-11" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-11" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-11" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-11" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-11" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-11" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-11" class="nav-link active" type="button" role="tab">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-11" class="nav-link">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11k.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Algodón</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>L - M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$1750</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">CatOru Gojo</p>
                    El hechicero más tierno del mundo llego a tu vida con este gran cosplay! <br>
                    Enterito y peluca para que el Chamiau más fuerte salve tu día de los espíritus malvados!
                </div>
            </div>
        </div>
        <!-- Gatito 12 -->
        <!-- Lista elementos -->
        <div class="tab-pane" id="elemento-12">
            <div class="row">
                <div class="col-sm-4">
                    <!-- lista -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="lista1-12" class="nav-link">Autumn Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista2-12" class="nav-link">Super Miau</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista3-12" class="nav-link">CalabaMichi</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista4-12" class="nav-link">PrrNfluencer</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista5-12" class="nav-link">NekoDeku</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista6-12" class="nav-link">Capitan Milaneso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista7-12" class="nav-link">BotiCat</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista8-12" class="nav-link">ACatSuki</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista9-12" class="nav-link">La flotación</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista10-12" class="nav-link">Hamburgueso</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista11-12" class="nav-link">CatOru Gojo</a>
                        </li>
                        <li class="nav-item">
                            <a id="lista12-12" class="nav-link active" type="button" role="tab">Miaurry Christmas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- IMG -->
                    <img class="img-fluid rounded-2" src="../img/11l.jpg">
                </div>
            </div>
            <hr>
            <div class="row pt-2 pb-3">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8">
                    <!-- Tabla -->
                    <table class="table table-striped mt-2">
                        <tr>
                            <td class="table-info">Material:</td>
                            <td>Micropolar</td>
                        </tr>
                        <tr>
                            <td class="table-info">Talle:</td>
                            <td>L - M - S</td>
                        </tr>
                        <tr>
                            <td class="table-info">Precio:
                            </td>
                            <td>$1600</td>
                        </tr>
                    </table>
                </div>
                <!-- Parrafo -->
                <div class="col-sm-4 col-md-12 col-lg-12 col-xl-4">
                    <p class="text-decoration-underline">Miaurry Christmas</p>
                    Para pasar la más linda de las noches buenas.<br>
                    Calentita pero liviana perfecta para esas noches de fiestas. <br>
                    Capita con capucha, 100% navideña!
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tablet" class="border border-2 col p-3 d-block d-sm-none d-md-none d-lg-none d-xl-none">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-arrow-up-circle"
                         viewBox="0 0 16 16" style="color:rgb(4, 187, 187)">
                        <path fill-rule="evenodd"
                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<footer class="mt-auto bg-gradient">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="https://github.com/Lucia-Landaeta" class="nav-link px-2">Lucia
            Landaeta</a></li>
        <li class="nav-item"><a href="https://github.com/matirinfante" class="nav-link px-2">Matias
            Infante</a></li>
    </ul>
    <p class="text-center text-black-50">© 2022 Catplay - Grupo Rojo PWA</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="../../js/app.js"></script>
</body>

</html>
